<!DOCTYPE html>
<html lang="en">

@{
    await Html.RenderPartialAsync("_Head");
}

<body class="bg-gradient-primary">
    <div class="container">
        @RenderBody()
    </div>
    @{
        await Html.RenderPartialAsync("_Scripts");
    }
</body>
</html>