@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    ViewData["Title"] = "Register";
}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Bir Hesap Oluşturun!</h1>
                        </div>
                        <form class="user" id="registerForm" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="firstName"
                                        placeholder="Adınız">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="lastName"
                                        placeholder="Soyadınız">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="email"
                                    placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="phone"
                                    placeholder="Telefon">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" id="password"
                                    placeholder="Şifre">
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="profilePicture" accept="image/*">
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Kayıt Ol
                            </button>
                            <hr>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Şifremi Unuttum?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/">Zaten Hesabınız Var mı? Giriş!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


