<!DOCTYPE html>
<html lang="zxx">

@{
    await Html.RenderPartialAsync("_Head");
}

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        @{
            await Html.RenderPartialAsync("_Sidebar");
        }

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                @{
                    await Html.RenderPartialAsync("_Topbar");
                }
                @RenderBody()

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    @{
        await Html.RenderPartialAsync("_ScrollTopBtn");
    }

    @{
        await Html.RenderPartialAsync("_Modal");
    }
    @{
        await Html.RenderPartialAsync("_EditModal");
    }

    @{
        await Html.RenderPartialAsync("_Footer");
    }
    <!-- Js Plugins -->
    @{
        await Html.RenderPartialAsync("_Scripts");
    }


    @* <script>
    document.addEventListener("DOMContentLoaded", () => {
    const token = localStorage.getItem("token");

    if (!token) {
    window.location.href = "/";
    } else {
    axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;
    }
    });
    </script> *@



</body>

</html>