@model EntitiesLayer.Models.Meeting

@{
    ViewData["Title"] = "Geçmiş Toplantılarım";
}

<div class="container my-5 table-responsive">
    <h2 class="mb-4 text-primary" style="text-shadow: 1px 1px 1px black;">Geçmiş Toplantılarım</h2>
    <table class="table table-striped">
      <thead>
        <tr class="text-center text-uppercase text-primary" style="font-size: 12px">
          <th class="name">Adı</th>
          <th class="start-date-">Başlangıç Tarihi</th>
          <th class="end-date-">Bitiş Tarihi</th>
          <th class="description-">Açıklama</th>
          <th class="document-">Döküman</th>
          <th class="actions-">İşlemler</th>
        </tr>
      </thead>
      <tbody id="meetingsBody3" class="text-center">
        <button id="generateReportButton" class="btn btn-outline-success btn-sm m-1 tooltip-button" data-tooltip="Rapor Oluştur">Rapor Oluştur</button>

      </tbody>
    </table>

    <div id="paginationContainer" class="d-flex justify-content-center mt-4 py-4"></div>

    



  </div>
