@{
    ViewData["Title"] = "Toplantılarım";
}

<div class="container mt-5 table-responsive">
    <h2 class="mb-4 text-primary" style="text-shadow: 1px 1px 1px black;">Toplantılarım</h2>
    <table class="table table-striped">
      <thead>
        <tr class="text-center text-uppercase text-primary" style="font-size: 12px">
          <th class="name">Adı</th>
          <th class="start-date-">Başlangıç Tarihi</th>
          <th class="end-date-">Bitiş Tarihi</th>
          <th class="description-">Açıklama</th>
          <th class="document-">Döküman</th>
          <th class="actions-">İşlemler</th>
        </tr>
      </thead>
      <tbody id="meetingsBody2" class="text-center">
      </tbody>
    </table>
  </div>