@{
    ViewData["Title"] = "Toplant覺 Raporlar覺";
}

<div class="container mt-5 table-responsive">
    <h2 class="mb-4 text-primary" style="text-shadow: 1px 1px 1px black;">Toplant覺 Raporlar覺</h2>
<div id="reportsList" class="reports-list"></div>
  </div>